#po6-login {
    color: #000;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    text-align: center;
    border: 1px solid #ccc;
}

#po6-login span {
    line-height: 22px;
    margin-left: 10px
}

#po6-logo {
    vertical-align: middle;
    height: 22px
}

#po6-retry-payment {
    color: #000;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,.2);
    text-transform: uppercase;
    font-weight: 600;
}

#po6-retry-payment span {
    line-height: 22px;
    margin-left: 10px
}
